<ion-view class="homeView" view-title="Error" hide-nav-bar="true">
<ion-content>
<div class="row row-center">
	<div id="error" class="col col-center text-center">
		<img src="img/mummy.png" alt="" width="200px" height="200px">
		<h3 style="color:white">OOPS!!</h3>
		<h4 style="color:white">{{errorMsg}}</h4>
		<a ui-sref="login" class="button button-outline button-light icon-left  animated bounceInUp"><i class="icon ion-android-arrow-back"></i>Back to Login </a>
	</div>
</div>
</ion-content>
</ion-view>